<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple MOOC - Uma simples plataforma de ensino a distância" />
    <title>Aprenda Mais</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'imagens/Logo.png'%}"/>
</head>
<body>
<div class="content">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
        <a href="#" class="navbar-brand"><img src="{% static 'imagens/Logo.png'%}" alt="logo" style="width: 50px; height: 50px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                                <a class="nav-link" href="{% url 'core:home' %}">Início<span class="sr-only">(current)</span></a>
                        </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'core:contact' %}" class="nav-link">Contato</a>
                    </li>
                </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <br><br><br><br><br>

    <footer class="page-footer font-small navbar-dark bg-dark mt-5">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3" style="color: antiquewhite">© 2018 Copyright:
              <p>Aprenda++ - Uma simples plataforma de ensino a distância</a>
            </div>
            <!-- Copyright -->
    </footer>
</div>
</body>
</html>