{% extends "base.html" %}

{% block content %}
    <div class="alert alert-secondary" role="alert">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div>
                    <h1 class="font-weight-bold mb-3">
                        Uma Simples Plataforma de Ensino a Distância
                    </h1>
                    <h3 class="font-weight-normal mb-5">
                        O Simple MOOC visa simplificar o ensino a distância, provendo ferramentas objetivas e de fácil uso para cursos a distância.
                    </h3>
                    <p>
                        <a href="#" class="btn btn-dark">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="pt-3">
            <div class="row">
                <div class="col pt-3">
                    <div class="row">
                        <div class="col">
                                <h4>Vídeo-aulas e materiais digitais</h4>
                                <hr/>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col"><h3 class="font-weight-bold">Publique suas aulas</h3></div>
                    </div>
                    <div class="row">
                            <div class="col">
                                    <p>
                                            O Simple MOOC tem um sistema simples e prático para que o professor disponibilize vídeo-aulas e materiais digitais como: pdf's, slides, imagens ...
                                    </p>
                            </div>
                    </div>
                </div>
                <div class="col">
                        <img src="http://placehold.it/400x250"
                                alt="Vídeo aulas e materiais digitais.">
                </div> 
            </div>
        </div>
        <div class="pt-3">
            <div class="row">
                <div class="col float-left">
                    <img src="http://placehold.it/400x250"
                         alt="Fórum de Dúvidas">
                </div>
                <div class="col">
                    <div class="row mt-5">
                        <div class="col"> <h4>Fórum de Dúvidas</h4></div>
                        <hr>
                    </div>
                    <div class="row mt-3">
                        <div class="col"><h4 class="font-weight-bold">Interaja com seus alunos</h4></div>
                    </div> 
                    <div class="row">
                        <div class="col">
                                <p>
                                    No Simple MOOC você pode ter seu próprio sistema de fórum para que seus alunos possam interagir com você e com os outros alunos
                                </p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-5 row">
            <div class="col">
                <div class="row">
                    <h4 class="mb-4">Exercícios</h4>
                    <hr>
                    <h3 class="font-weight-bold">Crie exercícios para avaliar seus alunos</h3>
                    <p>
                        Você pode criar exercícios para que os alunos possam ser avaliados e todo o controle de notas e resolução dos exercícios é controlado pela plataforma, facilitando sua vida
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Exercícios">
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col">
                    <img src="http://placehold.it/400x250"
                         alt="Mural de Avisos">
            </div>
            <div class="col pt-5">
                <div class="row"><h4 class="pb-3">Mural de Avisos</h4></div>
                <div class="row"><h4 class="font-weight-bold">Envie anúncios diretamente para os alunos</h3></div>
                <div class="row">
                    <p>
                        Organize os avisos do seu curso de forma fácil e simples.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}    