html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: calc(100vh - 70px);
  padding: 60px 60px 0 60px;
}
.main{
  margin-bottom: 20px;
}

.footer {
  height: 100%;
  padding-bottom: 1000px;
}


  .navbar .action:hover, .dropdown:hover .dropbtn {
    background-color:gray;
}
