{% extends 'base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data"> <!-- multipart/form-data make upload the image in form-->
        {% csrf_token %}
        <div class="container mt-5">
            <div class="form-group">
                <label for="id_name">Nome</label>
                <input type="text" name="name"class="form-control" id="id_name" aria-describedby="name_course">
                <small id="name_course" class="form-text text-muted">Nome do curso</small>
            </div>
            <div class="form-group">
                <label for="description">Descrição do curso</label>
                <textarea class="form-control" name="description" rows="7" id="description" aria-describedby="desc"></textarea>
                <small id="desc" class="form-text text-muted">Descrição do curso</small>
            </div>
            <div class="form-group">
                <label for="description">Sobre o curso</label>
                <textarea class="form-control" name="about" rows="7" id="id_about" aria-describedby="aboutt"></textarea>
                <small id="aboutt" class="form-text text-muted">Ementa do curso</small>
            </div>
            <div class="form-group mb-5">
                <label for="id_image">Imagem</label>
                <input type="file" class="form-control-file" id="id_image">
            </div>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Enviar</button>
            </div>
        </div>
    </form>
{% endblock %}

